<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express.js</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="container">
      <h1 class="welcome-message">Hello, Welcome to our site!</h1>
      <div>
        <a href="/getdata">
          <button>Get Data</button>
        </a>
      </div>
    </div>
  </body>
</html>
