<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express.js</title>

    <!-- OpenGraph section -->
    <meta property="og:title" content="Express.js App" />
    <meta property="og:description" content="Welcome to expressjs" />
    <meta
      property="og:image"
      content="https://express-demo.vercel.app/images/image.png"
    />
    <meta property="og:site_name" content="Expressjs" />
    <meta property="og:url" content="https://express-demo.vercel.app" />
    <meta property="og:type" content="website" />
    <!-- OpenGraph section -->

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="container">
      <h1 class="welcome-message">Hello, Welcome to our site!</h1>
      <div>
        <a href="/getdata">
          <button>Get Data</button>
        </a>
      </div>
    </div>
  </body>
</html>
