<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express.js</title>
    <meta
      name="description"
      content="Welcome to our site. We offer amazing content and services."
    />
    <meta
      name="keywords"
      content="welcome, hello, homepage, website, ejs, express, responsive"
    />
    <meta name="author" content="Your Name" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Welcome to Our Site" />
    <meta
      property="og:description"
      content="Explore our amazing site with great features and content."
    />
    <meta
      property="og:image"
      content="https://express-demo.vercel.app/images/image.png"
    />
    <!-- Full image URL -->
    <meta
      property="og:url"
      content="https://express-demo.vercel.app/images/image.png"
    />
    <meta property="og:site_name" content="My Awesome Site" />
    <meta property="og:image:alt" content="Preview of Welcome to Our Site" />
    <!-- og end -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@expressjs" />
    <meta name="twitter:creator" content="@expressjs" />
    <meta
      name="twitter:title"
      content="LinkCluster: Store your crucial links in single place"
    />
    <meta
      name="twitter:description"
      content="LinkCluster: Store your crucial links in single place"
    />
    <meta
      name="twitter:image"
      content="https://express-demo.vercel.app/images/image.png"
    />

    <!-- Twitter -->
    <!-- <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="Welcome to Our Site" />
    <meta
      property="twitter:description"
      content="Explore our amazing site with great features and content."
    />
    <meta
      property="twitter:image"
      content="https://express-demo.vercel.app/images/image.png"
    />
    <meta
      property="twitter:image:alt"
      content="Preview of Welcome to Our Site"
    />
    <meta property="twitter:url" content="https://express-demo.vercel.app" /> -->
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="container">
      <h1 class="welcome-message">Hello, Welcome to our site!</h1>
      <div>
        <a href="/getdata">
          <button>Get Data</button>
        </a>
      </div>
    </div>
  </body>
</html>
